*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

body{
    background-color: #0C0413;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

.container{
    padding: 1rem 1.5rem;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.fun h1{
    margin-bottom: 30px;
}

.box a{
    background: rgb(80,90,200);
    background: linear-gradient(90deg, rgba(80,90,200,1) 0%, rgba(192,83,187,1) 50%, rgba(233,146,150,1) 100%);
    padding: 15px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 1.3rem;
}

.sth{
    flex-direction: column;
    margin-bottom: 30px;
}

.fun a {
    background: rgb(80,90,200);
    background: linear-gradient(90deg, rgba(80,90,200,1) 0%, rgba(192,83,187,1) 50%, rgba(233,146,150,1) 100%);
    padding: 15px;
    border-radius: 10px;
    font-weight: 300;
}

.box{
    margin-bottom: 50px;
    align-items: center;
}

.sth h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin: auto;
    margin-bottom: 50px;
}

.box p{
    font-weight: 300;
    font-size: 2rem;
}

.a{
    width: 40%;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}

header{
    margin-bottom: 90px;
}

.h11{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 50px;
}

.words p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    line-height: 30px;
}

.words ul{
    line-height: 30px;
    font-size: 1.2rem;
    padding: 20px;
}

.images{
    padding: 50px
}

.img{
    flex-direction: column;
    width: 20%;
}

.circ{
    margin-bottom: 30px;
}

.links{
    padding: 0 30px;
}

.wordy{
    width: 45%;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 30px;
}

.wordy:nth-child(2){
    padding: 90px 0;
}

footer{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a{
    background: rgb(80,90,200);
    background: linear-gradient(90deg, rgba(80,90,200,1) 0%, rgba(192,83,187,1) 50%, rgba(233,146,150,1) 100%);
    padding: 15px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 1.6rem;
}

.resp{
    display: none;
}

@media (max-width: 1000px) {
    .resp{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .fof{
        display: none;
    }
} 