*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #0C0413;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

.container{
    padding: 1rem 1.5rem;
}

.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
}

.img{
    width: 15%;
}

.h11{
    margin-bottom: 50px;
    text-align: center;
}

.forrrm{
    width: 50%;
}

.forrrm input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 20px 6px;
    font-size: 1.3rem;
    background-color: #5A585D;
}

.side{
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img1{
    width: 60%;
}

.inp{
    width: 100px;
}

.imp{
    width: 45%;
}

.add{
    width: 100%;
}

.ema{
    width: 70%;
}

.check{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(180deg, rgba(233,146,150,1) 0%, rgba(192,83,187,1) 50%, rgba(118,126,223,1) 100%) 30% round;
    border-radius: 30px;
    background: transparent;
}

label{
    font-weight: 200;
}

/* .check:hover input ~ .checkmark {
    background-color: #ccc;
}

.check input:checked ~ .checkmark {
    background-color: #2196F3;
} */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after {
    display: block;
}

.check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.forrrm button{
    padding: 20px;
    background: linear-gradient(90deg, rgba(80,90,200,1) 0%, rgba(192,83,187,1) 50%, rgba(233,146,150,1) 100%);
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-top: 40px;
    cursor: pointer;
}

.resp{
    display: none;
}

@media (max-width: 1000px) {
    .resp{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .fof{
        display: none;
    }
}